body {
	background-color: antiquewhite;
}

#container {
	width: 50vh;
	height: 50vh;
}

/* #intro {
	text-align: center;
	line-height: 25px;
	background-color: #e84678;
	border-radius: 20px;
	width: 100%;
	height: 30vh;
	top: 10vh;
	display: inline-block;
} */

.card,
.questioncard,
#intro {
	text-align: center;
	line-height: 25px;
	background-color: #e84678;
	border-radius: 20px;
	width: 100%;
	height: 50vh;
	top: 10vh;
	padding: 10px;
}

.questioncard li {
	background-color: #824678;
	border-radius: 10px;
	margin-bottom: 5px;
}

#instructions,
#questionOne,
#questionTwo,
#questionThree {
	display: none;
}

.buttonfooter {
	position: fixed;
	bottom: 35%;
	left: 30%;
}

.pretty-button {
	padding: 8px 18px;
	background-color: #9696d6;
	width: 150px;
	border: none;
	outline: none;
	border-radius: 3px;
	color: white;
	margin: 0 auto;
}
