body {
	background-color: antiquewhite;
}

#container {
	background-color: aqua;
	width: 50vh;
	height: 63vh;
}

h1 {
	text-align: center;
	padding-top: 5px;
	line-height: 20px;
	text-decoration: underline;
}

.card,
.questioncard {
	text-align: center;
	line-height: 25px;
	background-color: #e84678;
	border-radius: 20px;
	width: 95%;
	height: 48vh;
	/* top: 1vh; */
	padding: 10px;
	position: relative;
	image-
}

.questioncard li {
	background-color: #824678;
	border-radius: 10px;
	margin-bottom: 5px;
}

/* .questioncard li:hover {

} */

#instructions,
#questionOne,
#questionTwo,
#questionThree, #questionFour, #finalTally {
	display: none;
}

.buttonfooter {
	position: absolute;
	width: 50vh;
	bottom: 30px;
}

.pretty-button {
	padding: 8px 18px;
	background-color: #9696d6;
	width: 150px;
	border: none;
	outline: none;
	border-radius: 3px;
	color: white;
	margin-left: auto;
	margin-right: auto;
}
